<div class="row" style="margin-top:2em">
    <div class="col-md-4 offset-md-4">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class=" control-label">Email</label>
                    <input type="email" class="form-control" formControlName="Email">
                </div>
                <div class="form-group">
                    <label class=" control-label">Password</label>
                    <input type="password" class="form-control" formControlName="Password">
                </div>
                <div class="form-group">
                    <label class=" control-label">Password</label>
                    <input type="password" class="form-control" formControlName="ConfirmPassword">
                </div>
                <div class="form-group">
                    <input type="submit" [disabled]="!profileForm.valid" class="form-control" value="submit">
                </div>
            </form>
    </div>
</div>
