<div class="container">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="example-container" >
                    <mat-form-field>
                        <input matInput formControlName="Name" placeholder="Name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="Category" id="Category">
                            <mat-option *ngFor="let category of categories; let i = index" [value]="categories[i].id">
                                    {{categories[i].name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="textarea" formControlName="Description" placeholder="Description">
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput type="text" formControlName="Price" placeholder="Price">
                        </mat-form-field>
            
                        <button  mat-button>Submit</button>
                </div>
            </form>
</div>


